.footer {
text-align: center;
background-color: #222;
color: #fff;
padding: 3em;
}

.social_List{
    display: flex;
    list-style: none;
    justify-content: center;
}

.social_List li {
    margin: 0 1em;
}

.social_List li:hover{
    color: #ffbb33;
}

.social_List svg{
    font-size: 1.8em;
    cursor: pointer;
}

.copy_right{
    margin-top: 2em;
}

.copy_right span{
    font-weight: bold;
    color: #ffbb33;
}